# exclude all binaries
*.pyc
# exclude all test job outputs
*.out
# exclude helper scripts
scripts/*.sh
# exclude
vmms/id_rsa*
courselabs/*
# config
config.py

# Virtualenv
.Python
bin
lib
include
pip-selfcheck.json

# Mac OS X custom attribute files
.DS_Store

# ide
.idea

# Backup files
*.bak
