# exclude all binaries
*.pyc
# exclude all test job outputs
*.out
# exclude helper scripts
scripts/*.sh
# exclude
vmms/id_rsa*
vmms/id_ed25519*
courselabs/*
dockerTmp/*

# config
config.py

# Virtualenv
.Python
bin
lib
include
pip-selfcheck.json
env/

# Mac OS X custom attribute files
.DS_Store

# IDEs
.idea
.vscode

# Backup files
*.bak

# Redis
*.rdb

# Tests
tests/*
!tests/*.py
